<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohei.dao.admin.LocalBusinessModeDao">
    <resultMap id="userEntity" type="com.xiaohei.entity.table.LocalBusinessModeEntity">
        <id column="ID" property="id"/>
        <result column="BUSINESS_NAME" property="businessName"/>
        <result column="BUSINESS_TYPE" property="businessType"/>
        <result column="BUSINESS_NO" property="businessNo"/>
    </resultMap>
</mapper>